[package]
name = "e2e"
version = "0.1.0"
edition = "2021"
publish = false

[dev-dependencies]
thirtyfour = "0.31"
tokio = { version = "1", features = ["full"] }
anyhow = "1.0"
reqwest = { version = "0.11", features = ["json"] }